body {

padding-top:64px!important;
}

.container {

}
//禁用a-link
.not-active {
   pointer-events: none;
   cursor: default;
}

.bimCheckbox {
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    margin-top: 2px !important;
    padding: 0 !important;
    display: block !important;
    cursor: default;
}

/*
 * Widget: Uploader
 */
.uploader{
    width: 100%;
    height: 160px;
	border: 2px dotted #A5A5C7;
	color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 40px 0px;
	margin-bottom: 10px;
    font-size: 24px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader-active {
	border-color: #0B85A1;
}

.uploader div.or {
	font-size:14px;
	font-weight: bold;
	color: #C0C0C0;
	padding: 10px;
}

.uploader div.browser label {
	background-color: #5a7bc2;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
    font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;

	box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
	cursor: pointer;
}


.uploader div.browser input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.uploader div.browser label:hover {
	background-color: #427fed;
}


/*
 * File list
 */
#fileList {
    width: 100%;
    height:160px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	color: gray;
    font-size: 12px;
    overflow: auto;
}

#fileList .file {
  width: 290px;
  margin-bottom: 15px;
}

#fileList .info {
  width: 290px;
  height: 26px;
  display: block;
  overflow: hidden;

  line-height: 13px;
}

#fileList .filename {
  font-weight: bold;
}

#fileList .bar {
  border: solid 1px #C0C0C0;
  height: 12px;
  margin-top: 5px;
  padding: 1px;
  width: 290px;
}

#fileList .bar-progress {
  height: 8px;
  background-color: #00CCFF;
}

#fileList span.success {
  color: #009900;
}

#fileList span.error {
  color: #990000;
}

/*
 * hueBreadcrumb
 */
.hueBreadcrumb {
  font-size: 1.25em;
  list-style: none outside none;
  padding: 9px 9px;
}

.hueBreadcrumb li {
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
}

.hueBreadcrumb .divider {
  color: #999999;
  padding: 0 5px;
}

.hueBreadcrumb .active a {
  color: #333333;
}

.hueBreadcrumb a.nounderline:hover {
  text-decoration: none;
}

.hueBreadcrumb > li:last-child > a {
  font-weight: bold;
  color: #333333;
}

.hueBreadcrumb > li:last-child > span {
  display: none;
}

.hueBreadcrumbBar {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
}

.hueBreadcrumbBar .upLink {
 margin-top:6px
}